@{
    ViewData["Title"] = "Inicio - Sistema de Inventario";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido al Sistema de Inventario!</h1>
    <p>Gestiona tus productos de manera eficiente y mantén un control total de tu inventario.</p>
    <p>Descubre cómo nuestro sistema simplifica la administración de inventarios para tu negocio.</p>
    <p>Asegura un flujo de trabajo eficaz y toma decisiones informadas con nuestro sistema de vanguardia.</p>
    <p>Optimiza tus operaciones y maximiza la rentabilidad con nuestras herramientas avanzadas.</p>
</div>
<a class="btn btn-warning" href="@Url.Action("Register", "Account")" role="button">Regístrate</a>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2>Nuestro Sistema</h2>
            <p>En nuestro sistema de inventario, te ofrecemos una solución integral para gestionar tus productos, controlar las existencias y realizar un seguimiento de las transacciones. Optimiza tus operaciones y reduce los errores con nuestra plataforma fácil de usar.</p>
            <a class="btn btn-info" href="#" role="button">Conoce más</a>
            <a class="btn btn-warning" href="#" role="button">Regístrate</a>
            <button id="changeTextColorBtn" class="btn btn-success" role="button">Cambiar Color de Texto</button> <!-- Nuevo botón -->
        </div>
        <div class="col-md-6">
            <h2>Funcionalidades Principales</h2>
            <p>Explora las características clave de nuestro sistema, desde la gestión de almacenes hasta la generación de informes detallados. Simplifica la contabilidad, gestiona las compras y ventas, y mantén un control total sobre tu inventario en tiempo real.</p>     

        </div>
    </div>
</div>
