/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Estilos personalizados para la barra de navegación */
.navbar {
    background-color: #343a40; /* Cambia el color de fondo según tus preferencias */
}

.navbar-brand, .navbar-nav .nav-link {
    color: #ffffff; /* Cambia el color del texto según tus preferencias */
}

/* Estilo para permitir múltiples líneas en el enlace de la barra de navegación */
.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Estilos para enlaces */
a {
    color: #0077cc;
}

/* Estilos para el botón primario */
.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Estilos para píldoras de navegación activas */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Estilos para bordes superior e inferior */
.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

/* Estilo de sombra */
.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Estilo para el botón de aceptar política */
button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Estilos para el pie de página */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: #343a40; /* Cambia el color de fondo según tus preferencias */
    color: #ffffff; /* Cambia el color del texto según tus preferencias */
    padding: 10px 0;
}
