@model Inventario_2.Models.Almacene

@{
    ViewData["Title"] = "Delete";
}

<div style="text-align: center; padding: 20px;">
    <h1 style="font-size: 2rem; font-weight: bold;">Eliminar registro</h1>

    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdAlmacenes" />
        <div class="d-flex justify-content-center">
            <input type="submit" style="margin-right: 5px;" value="Eliminar" class="btn btn-danger" />
            <a asp-action="Index" style="margin-left: 5px;" class="btn btn-secondary">Volver</a>
        </div>
    </form>
</div>
