@model Inventario_2.Models.Articulo

@{
    ViewData["Title"] = "Create";
}

<style>
    h1 {
        margin: auto;
        font-size: 2rem;
        font-weight: bold;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .d-flex {
        display: flex;
    }

    .btn-success {
        background-color: #28a745;
        color: #fff;
    }

    .btn-danger {
        background-color: #dc3545;
        color: #fff;
    }
</style>

<h1>Crear registro</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Existencia" class="control-label"></label>
                <input asp-for="Existencia" class="form-control" />
                <span asp-validation-for="Existencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdInventario" class="control-label"></label>
                <select asp-for="IdInventario" class="form-control" asp-items="ViewBag.TiposInventarioList"></select>
            </div>
            <div class="form-group">
                <label asp-for="CostoUnitario" class="control-label"></label>
                <input asp-for="CostoUnitario" class="form-control" />
                <span asp-validation-for="CostoUnitario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado" class="form-control">
                    <option value="Activo">Activo</option>
                    <option value="Inactivo">Inactivo</option>
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>

            <br />
            <div class="d-flex">
                <div class="form-group" style="margin-right: 5px;">
                    <input type="submit" value="Crear" class="btn btn-success" />
                </div>
                <div style="margin-left: 5px;">
                    <a class="btn btn-danger" asp-action="Index">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
